@import "tailwindcss";

:root {
  --background: #fff0f5;
  --foreground: #4a0404;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pacifico: var(--font-pacifico);
  --font-nunito: var(--font-nunito);
}

body {
  background: linear-gradient(
    -45deg,
    #ff9a9e,
    #fad0c4,
    #fad0c4,
    #fbc2eb,
    #a18cd1,
    #fbc2eb
  );
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  color: var(--foreground);
  font-family: var(--font-nunito), sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-pacifico), cursive;
}
